@media (min-width: 480px) {
/* * {
  box-sizing: border-box;
  font-family: 'Syne Mono', monospace;
}

#a {
  background-color: silver;
  border: 2px white inset;}

#b {
  background-color: blue;
  border: 2px white inset;
}


#c {
  background-color: greenyellow;
  border: 2px white inset;
}

#d {
  background-color: greenyellow;
  border: 2px white inset;
}

#e {
  background-color: blue;
  border: 2px white inset;}

  #f {
    background-color: greenyellow;
    border: 2px white inset;
  }

  #g {
    background-color: greenyellow;
    border: 2px white inset;
  }
  
#h {
  background-color: greenyellow;
  border: 2px white inset;
}
#i {
  background-color: greenyellow;
  border: 2px white inset;
}

} */

/*mobile*/

