* {
  text-align: center;
}

#a {
  width: 960px;
  line-height: 100px;
  float: clear;

}

#b {
  width: 200px;
  line-height: 600px;
  float: left;
}

#cd > div{
width: 380px;
line-height: 200px;
display: inline-block;
}

#efgh > div {
  width: 190px;
  line-height: 250px;
  display: inline-block;
}

#i {
  width: 760px;
  line-height: 150px;
  display: inline-block;
}


