@media (min-width: 480px) {
body {
  width: 960px;
  height: 700px;

}

* {
  text-align: center;
  margin: auto;
}


#a {
  width: 960px;
  line-height: 100px;
}

#b {
  width: 200px;
  line-height: 600px;
  float: left;
}

#cd > div{
width: 380px;
line-height: 200px;
display: inline;
padding: 130px;
}

#efgh > div {
  width: 190px;
  line-height: 250px;
  display: inline;
  padding: 60px;
}

#i {
  width: 760px;
  line-height: 150px;
  display: inline-block;
}

footer {
  padding: 20px;
}
}

/*mobile*/

@media (max-width: 480px) {
  body {
    width: 480px;
    height: 767px;
  
  }
  
  * {
    text-align: center;
    margin: auto;
  }
  
  
  #a {
    width: 480px;
    line-height: 75px;
  }
  
  #b {
    width: 480px;
    line-height: 150px;
  }
  
  #cd > div{
    width: 480px;
    line-height: 150px;

  }
  
  #efgh > div {
    width: 240px;
    line-height: 125px;
    float: left;
  }
  
  #i {
    width: 480px;
    line-height: 80px;
    display: inline-block;
  }
  
  footer {
    padding: 20px;
  }
}